.mysection {
    margin-left: 17%;
    margin-right: 16%;
    text-align: left;
    font-size: 48px;
}

.mysection h1 {
    margin-left: 18px;
}

.section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
}

.item {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: center;
}

.item img {
    width: 100%;
    height: auto;
}

.text-content {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.text-content p {
    font-size: 20px;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 32px;
    margin-top: 5px;
}


@media (max-width: 768px) {
    .section-container {
        grid-template-columns: 1fr;
    }
    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .order-1{
        order: 1;
    }
    .text-content-2{
        order: 2;
    }
    .mysection {
        margin-left: 0;
        margin-right: 0;
    }
    .text-content p {
        font-size: 16px;
    }
}

